button {
    background-color: yellowgreen;
    padding: 8px;
    border: 2px solid #cc0000;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
}

button:hover{
    background-color: yellow;
}
 .delete, .cancel {
    background-color: red;
    padding: 8px;
    border: 2px solid #cc0000;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
 }


body{
    padding: 10px;
    background-image: url(./background.png);
    background-repeat:no-repeat;
    background-origin:border-box;
    background-attachment:fixed;
    background-size: 100% 100%
    
}

#inputProduct, input, select{
    text-align: 22px;
    padding: 8px ;
    border-radius : 5%;
}
table{
    width: 1300px;
    
}
td:nth-child(1), td:nth-child(2){
    width: 30%;
}
td{
    width: 25%;
    text-align: left;
}
tr:nth-child(odd){
    background-color: silver;
}
tr{
    height: 60px;
}

