table{
    margin-left:  100px;
}
td {
    width: 1000px ;
    height: 200px;
}
img{
    width: 1000px;
    height: 200px;
    position: absolute;
}
#cat1, #mon2, #pan3, #cat4, #mon5{
    z-index: 1;
}
