body{
    background-image: url(./image/raider.jpg);
    background-size: 100%;
    background-clip: border-box;
    background-origin: border-box;
    background-repeat: no-repeat;
}
td{ 
    position:absolute;
    width: 310px;
    height: 600px;
    border: 4px double red;
    background-color: darkslategrey  ; 
}
#game{
    margin-left:  500px;
    
}
#gameCar2{
    position: absolute;
    z-index: 1;
};
#gameOver{
    position: absolute;
}
#gameCar{
    position: absolute;
}
fieldset{
    float: right;
    margin-right: 200px; 
    width: 250px;
    height: 300px;
    border: 4px solid black ;
    color: red;
    font-size: 30px;
}
span{
    color: yellow;
}
