body{
    background-image: url(./image/raider.jpg);
    background-size: 100%;
    background-clip: border-box;
    background-origin: border-box;
    background-repeat: no-repeat;
}
td{ 
    position:absolute;
    width: 310px;
    height: 600px;
    border: 4px double red;
    background-color: darkslategrey  ; 
}
#game{
    margin-left:  400px;   
}
#gameCar{
    position: absolute;
    z-index: 5 !important;
}
#gameItem{
    position: absolute;
    z-index: 1 !important;
}
#gameOver{
    position: absolute;
    z-index: 10 !important;
}
#gameLine{
    position: absolute;
}


fieldset{
    margin-left:  750px;
    width: 300px;
    height: 550px;
    border: 4px solid black ;
    color: red;
    font-size: 30px;
}
span{
    color: yellow;
}
